/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Here is where my CSS begins */

/* Colors Used 

Blue 154E7A
Purple 824C71
Orange F29602
White F6F8FF
Gray E5E5E5 

*/

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap");

/* Type Styles */

h1 {
  font-weight: extra-bold;
  font-size: 48px;
}
h2 {
  font-weight: bold;
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
button {
  display: flex;
  margin-top: 20px;
  padding: 6px 12px;
  color: #f6f8ff;
  background-color: #f29602;
  border: none;
  border-radius: 5px;
}
h1,
h2,
h3,
p {
  color: #f6f8ff;
  font-family: "Open Sans", sans-serif;
  font-family: "Stick No Bills", sans-serif;
  text-align: left;
  padding-top: 5px;
}
footer,
header,
.section-one,
.section-two,
.section-three,
.section-four {
  padding-left: 200px;
  padding-right: 200px;
}
header {
  height: 75px;
  background-color: #154e7a;
  padding-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  padding-top: 10px;
  display: flex;
}
li {
  margin: 0 10px;
}
/* Class Styles */

/* Section One */

.section-one {
  background-color: #154e7a;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.macarons {
  width: 300px;
}
.section-title {
  display: flex;
  justify-content: center;
}
article {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section-two {
  background-color: #f6f8ff;
}
.section-three {
  background-color: #824c71;
}
.section-four {
  background-color: #e5e5e5;
}
footer {
  background-color: #f29602;
}
